{% extends "aplicacion/index.html" %}

{% block titulo %}
<h1 class="mb-5">Institucion</h1>
{% endblock titulo %}

{% block contenido %}
<table>
    <tr>
        <td width="200"><h2>Institucion</h2></td>
        <td>
            <a href="{% url 'Institucion_create' %}" class="btn btn-primary btn-sm">
                <i class="fa fa-plus fa-lg" title="Crear"></i>
                <span>Añadir nueva institución</span>
            </a>
             <a href="{% url 'buscar_institucion' %}" class="btn btn-primary btn-sm">
                <i class="fa fa-plus fa-lg" title="Crear"></i>
                <span>Buscar institución</span>
            </a>           
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Institucion</th>
            <th>Direccion</th>
        </tr>
    </thead>
    <tbody>
    {% for e in institucion_list  %}
        <tr>
            <td>{{ e.id }}</td>
            <td>{{ e.nombre }}</td>
            <td>{{ e.direccion }}</td>
            <td>
                <a
                  href="{% url 'Institucion_update' e.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  name="btn_eliminar_institucion"  Añade el nombre aquí -->Editar Informacion
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{% url 'Institucion_delete' e.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  name="btn_eliminar_institucion" <-- Añade el nombre aquí -->Eliminar Institucion
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>  
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
