{% extends "aplicacion/index.html" %}


{% block titulo %}
<h1 class="mb-5">TablaGoleadores</h1>
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>TablaGoleadores</h2></td>
        <td>
            <a
            href="{% url 'TablaGoleadores_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>jugador</th>
            <th>goles</th>
        </tr>
    </thead>
    <tbody>
    {% for e in tablagoleadores %}
        <tr>
            <td>{{ e.jugador }}</td>
            <td>{{ e.goles }}</td>
            <td>
                <a
                  href=""
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href=""
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>  
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}